.light {
  --background-color: #fdfdfd;
  --text-color: #181818;
  --link-color: #006cd1;
  --nav-border-color: #e0e0e0;
}

.dark {
  --background-color: #1f1f1f;
  --text-color: #dddddd;
  --link-color: #91fff3;
  --nav-border-color: #2a2a2a;
}